name: Lint files

on:
  pull_request:
    branches:
      - main

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: npm

      - name: Install all npm packages
        run: npm ci

      - name: Lint all files
        run: |
          npm run lint
